.mat-column-Select {
    max-width: 40px;
  }
  
  .no-data{
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .spinner-container {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    mat-spinner {
      height: 150px;
      width: 160px;
    }
  }
  
  .spinner_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(100, 100, 100);
    opacity: 0.2;
    z-index: 1000;
  }
  
  // needed, because standard is overridden
  [hidden] {
    display: none !important;
  }
  