<div>
  <mat-form-field class="search-form-field">
    <mat-label>Zoekfilter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</div>

<!-- Class table -->
<mat-table [dataSource]="this.dataSource" matSort>

  <ng-container matColumnDef="Select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

    <!-- Dynamic Columns -->
    <ng-container *ngFor="let column of this.parameters.displayedColumns | keyvalue" [matColumnDef]="column.key">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.value.displayName }} </mat-header-cell>
      <mat-cell *matCellDef="let val">{{ column.value.callbackStringValue(val) }} </mat-cell>
    </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row.id)">
  </mat-row>

  <div *matNoDataRow [hidden]="dataSource.loadingStream | async" class="no-data"><em>Geen item gevonden.</em></div>

</mat-table>

<div class="spinner-container" *ngIf="dataSource.loadingStream | async">
  <div class="spinner_overlay"></div>
  <mat-spinner></mat-spinner>
</div>

<mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [length]=0 showFirstLastButtons
  #paginator aria-label="Select page">
</mat-paginator>
