<div class="header">
  <h1>Docenten</h1>
  <span class="spacer"></span>

  <div class="buttons">
    <button *ngIf="canCreate" mat-stroked-button color="accent" (click)="openAddDialog()">
      Voeg een docent toe <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="canDelete" mat-menu-item (click)="removeSelection()">
        <mat-icon>delete</mat-icon> Verwijder selectie
      </button>
    </mat-menu>
  </div>

</div>

<app-generic-table #myTable (rowClickEvent)="openDetailsDialog($event)" [dataSource]="this.ds" >
</app-generic-table>
<!--
<app-generic-table #myTable [parameters]="tableParameters" ></app-generic-table>
-->
