<div *ngIf="!models || !models?.length">
  <h3 mat-dialog-title>Klassenhistorie</h3>
  <p> No groups added yet.</p>
</div>

<mat-table #mytable *ngIf="models && models.length" [dataSource]="modelsSorted!">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <h3 mat-dialog-title>Klassenhistorie</h3>
    </mat-header-cell>
    <mat-cell *matCellDef="let group">{{ group.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dates">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let group">
      <div [hidden]="!(group.id === current?.id)">huidige klas</div>
      <div [hidden]="(group.id === current?.id)">
        {{ group.startDate | date:'MMM yyyy' }} - {{ group.endDate | date:'MMM yyy' }}
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>